<!-- Navigation -->
<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Fornleifauppgröftur að Skriðuklaustri</a>
</nav>

<div class="container-fluid">
  <!--<input type="text" [(ngModel)]="filter.registration" placeholder="name">
  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th><a href="#">Dagsetning</a></th>
        <th>ID</th>
        <th>Gripur</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Svæði</th>
        <th>Jarðlag</th>
        <th>Skráð af</th>
        <th>Lýsing</th>
        <th>Greining</th>
        <th>Varðveisla</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | async | filterBy: filter">
        <td>{{item.date}}</td>
        <td>{{item.ID}}</td>
        <td>{{item.object}}</td>
        <td>{{item.x}}</td>
        <td>{{item.y}}</td>
        <td>{{item.altitude}}</td>
        <td>{{item.zone}}</td>
        <td>{{item.mineralLayer}}</td>
        <td>{{item.registration}}</td>
        <td>{{item.description}}</td>
        <td>{{item.analysis}}</td>
        <td>{{item.storage}}</td>
      </tr>
    </tbody>
  </table>-->
  <h1 class="mt-3" style="">
    Munaskrá
  </h1>

  <div class="form-group row mt-2">
    <div class="col-12">
      <input class="form-control" type="text" placeholder="Leit í öllum gögnum" [(ngModel)]="filters.all" (keyup)='filterText($event)' style="width:40%">
    </div>
  </div>

  <ngx-datatable
    #myTable
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="100"
    [scrollbarH]="true"
    (page)="onPage($event)"
    (activate)="onActivate($event)"
    class="material striped">

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <div style="padding-left:10px;">
          <div><strong>Lýsing: </strong>{{row.description}}</div>
          <div><strong>Greining: </strong>{{row.analysis}}</div>
          <div><strong>Skráning: </strong>{{row.registration}} ({{row.registrationID}})</div>
          <div><strong>Geymsla: </strong>{{row.storage}}</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

  </ngx-datatable>

  <!-- Header templates -->
  <!-- Text -->
  <ng-template #dateHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="dateFilter" [(ngModel)]="filters.date" type="text" placeholder="Date filter" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #idHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="idFilter" [(ngModel)]="filters.ID" type="text" placeholder="ID filter" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #objectHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="objectFilter" [(ngModel)]="filters.object" type="text" placeholder="Object filter" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #descHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="descFilter" [(ngModel)]="filters.description" type="text" placeholder="Description filter" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #xHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="xFilter" [(ngModel)]="filters.x" type="text" placeholder="X" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #yHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="yFilter" [(ngModel)]="filters.y" type="text" placeholder="Y" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #altHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="altFilter" [(ngModel)]="filters.altitude" type="text" placeholder="Altitude" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #zoneHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="zoneFilter" [(ngModel)]="filters.zone" type="text" placeholder="Zone" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #layerHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="layerFilter" [(ngModel)]="filters.mineralLayer" type="text" placeholder="Mineral Layer" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>
  <ng-template #regHdr let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span class="datatable-header-cell-wrapper">
      <input class="form-control" id="regFilter" [(ngModel)]="filters.registrationID" type="text" placeholder="Registration" (keyup)="filterText($event)">    
      <span class="datatable-header-cell-label draggable" (click)="sort()" style="position: relative; top:0.2em;">
        {{column.name}}
      </span>
    </span>
  </ng-template>

</div>